# LaTeX
# =====
*.pdf
*.doc
JabRef-2.7.jar
lit.bib.bak
*.aux
*.bbl
*.blg
*.log

# Code / Eclipse
# ==============
.metadata
xtend-gen/
plugin.xml_gen
bin
*.class

# Other
# =====
temp
*~
logs.zip
*.orig
rebel.xml
